<div class="row">


    {{!-- Nav bar --}}
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow px-3">
        <div class="container-fluid">

            {{!-- collapse button --}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{!-- Nav bar --}}
            <div class="collapse navbar-collapse">
                {{!-- Left --}}
                <a class="navbar-brand" {{#if isAccess}}href="/users/list" {{else}}href="/" {{/if}}>
                    
                </a>
                
                {{!-- Center --}}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link {{#if userActive}}active{{/if}}" {{#if isAccess}}href="/users/list" {{else}}href="/"
                            {{/if}}>User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if productActive}}active{{/if}}" {{#if isAccess}}href="/products/list" {{else}}href="/"
                            {{/if}}>Product</a>
                    </li>
                    
                </ul>
                
                {{!-- Right --}}
                {{#if isAccess}}
                
                {{else}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn  border-dark mx-1 {{#if signInActive}}active{{/if}}" href="/admins/sign_in">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn  border-dark mx-1 {{#if signUpActive}}active{{/if}}" href="/admins/sign_up">Sign up</a>
                    </li>
                </ul>
                {{/if}}
            </div>
            
        </div>
    </nav>


</div>