<div class="container">


    {{!-- Button --}}
    <div class="row my-4  p-4 my-5 ">
        {{!-- Go to Add --}}
        <div class="col-auto">
            <a class="btn btn-dark" href="/users/insert"><i class="fa-solid fa-user-plus"></i> Add new User</a>
        </div>
        {{!-- Find --}}
        
    </div>
    
    {{!-- Table --}}
    <div class="row">
        <table class="table table-striped table-borderless table-hover  table-response shadow">
            {{!-- Head --}}
            <thead>
                <tr>
                    <th>#</th>
                    <th>View</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {{!-- Body --}}
            <tbody>
                {{#each users}}
                <tr>
                    <th class="align-middle">{{increase @index}}</th>
                    <td class="align-middle"><a class="btn"><i class="fa-regular fa-eye"></i></a></td>
                    <td class="align-middle">{{this.fullName}}</td>
                    <td class="align-middle">{{this.email}}</td>
                    <td class="align-middle">
                        <img src={{this.avatar}} width="48px" height="48px" alt="" class="rounded">
                    </td>
                    <td class="align-middle"><a class="btn"><i class="fa-regular fa-pen-to-square"></i></a></td>
                    <td class="align-middle"><a class="btn"><i class="fa-regular fa-trash-can"></i></a> </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    

    {{!-- Footer --}}
    <div class="row align-items-center pb-5">
        {{!-- Item --}}
        <div class="col-auto">
            <p class=" my-auto">10/10000 items</p>
        </div>
        {{!-- Pagination --}}
        <div class="col-auto ms-auto">
            <ul class="pagination justify-content-end my-auto">
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>

    
</div>